.btn {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background: $main-color;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 156.25% */
    margin-top: 30px;
    grid-row-start: 3;
    cursor: pointer;
    &:hover{
        box-shadow: 3px 3px 20px $main-color;
        border: none;
        transition: 0.5s all;
    }
    &:active{
        top: .5em;
        left: .5em;
        box-shadow: 0 0 0 60px $main-color inset;
        transform: translateY(5px);
        transition: all 0.5s;
    }
}