.container{
    max-width: 1140px;
    // max-width:  71.25rem;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width: 1200px){
    .container{
        padding: 0px 30px;    
    }
}
@media screen and (max-width: 576px) {
    /* Ваши стили для мобильных устройств */
    .container{
        padding: 0px 20px;    
    }
}