.feedback{
    &__subtitle-block{
        margin-top: 50px;
    }
    &__carousel{
        display: flex;
        gap: 50px;
        margin-top: 60px;
    }
    &__block{
        max-width: 400px;
        min-height: 230px;
        border-radius: 10px;
        border: 2px solid #DDD;
        background: #FFF;
        padding: 30px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__name{
        color: #0B132A;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 166.667% */
        &-wrapper{
            margin-left: 20px;
        }
    }
    &__person{
        display: flex;
        align-items: center;
    }
    &__rating{
        display: flex;
        align-items: center;
    }
    &__text{
        text-align: left;
    }
    &__place{
        text-align: left;

    }
}
.circle{
    width: 60px;
    height: 60px;
    border-radius: 70px;
    border: 2px solid $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.panel{        
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}
.arrows{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

@media screen and (max-width: 992px){
    .feedback{
        &__block{
            display: block;
            margin: 0 auto;
        }
    }
    #feedback-2, #feedback-3{
        display: none;
    }
}
@media screen and (max-width: 576px){
    .feedback{
        &__carousel{
            justify-content: center;
        }
    }
    .panel{        
        margin-top: 30px;
    }
    #feedback-2, #feedback-3{
        display: none;
    }
}