.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.authorization{
    display: flex;
    gap: 30px;
    align-items:center;
    &__btn{
        width: 150px;
        height: 45px;
        border-radius: 50px;
        background-color: rgba(1,1,1,0);
        border: 1px solid $main-color;
        color: $main-color;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        &:hover {
            box-shadow: 0 0 40px 40px $main-color inset;
            color: #fff;
        }
        &:active{
            top: .5em;
            left: .5em;
            box-shadow: 0 0 0 60px rgba(0,0,0,.4) inset;
            transform: translateY(5px);
            transition: all 0.3s;
        }
    }
    &__sign-in{
        color: #0B132A;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
        &:active{
            transform: translateY(5px);
            transition: all 0.3s;
        }
    }

}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    &__title{
        color: #0B132A;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }
}

.menu{
    &__list{
        display: flex;
        gap: 40px;
    }
    &__link{
        color: #4F5665;
        font-family: Rubik;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__item{
        &:active{
            transform: translateY(5px);
            transition: all 0.3s;
        }
    }
}